<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monument.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @monument.address %>
</p>

<%= link_to 'Edit', edit_monument_path(@monument) %> |
<%= link_to 'Back', monuments_path %>
